h2, h4 {
	overflow-wrap: break-word;
	font-weight: 300;
}
.p-top-20 {
	padding-top: 20px;
}
.p-top-40 {
	padding-top: 40px;
}
.p-top-60 {
	padding-top: 60px;
}
.p-top-80 {
	padding-top: 80px;
}
.p-top-100 {
	padding-top: 100px;
}
.heading {
	margin-bottom: 30px;
}
footer {
	padding: 30px 0;
}